groups:
  - name: sli-recording
    rules:
      # ---------- URL SLI ----------
      - record: sli:url_availability:30d
        expr: avg_over_time(probe_success[30d])

      - record: sli:url_availability:7d
        expr: avg_over_time(probe_success[7d])

      - record: sli:url_availability:1d
        expr: avg_over_time(probe_success[1d])

      - record: sli:url_latency_95p:5m
        expr: histogram_quantile(0.95, sum by (le, instance, job) (rate(probe_duration_seconds_bucket[5m])))

      # ---------- Server SLI ----------
      - record: sli:server_availability:30d
        expr: avg_over_time(up[30d])

      - record: sli:server_availability:7d
        expr: avg_over_time(up[7d])

      # ---------- CPU SLI ----------
      - record: sli:linux_cpu_usage:5m
        expr: 100 - (avg by (instance)(rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100)

      - record: sli:windows_cpu_usage:5m
        expr: 100 - (avg by (instance)(rate(windows_cpu_time_total{mode="idle"}[5m])) * 100)

      # ---------- Memory SLI ----------
      - record: sli:linux_memory_usage:5m
        expr: (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) * 100

      - record: sli:windows_memory_usage:5m
        expr: (windows_memory_commit_bytes / windows_memory_commit_limit_bytes) * 100

      # ---------- Disk SLI ----------
      - record: sli:disk_free_percent:5m
        expr: (node_filesystem_free_bytes / node_filesystem_size_bytes) * 100


